/* NAVBAR */
.navbar{
	position: fixed;
	width: 1366px;
}

.nav-right{
    position: absolute;
    margin-left: 1000px;
    width: 33px;
    height: 22px;
    top: 12px;
}

.items{
    padding-right: 15px;
    padding-left: 25px;
}

.container img{
    position: absolute;
    right: 0px;
    height: 605px;
    width:1373px;
}

.dropdown{
    margin-left: 110px;
}

/* body */
body{
	background-color: white;
}

/* container */
.container{
    display: flex;
    justify-content: space-between;
}

/* side navbar css */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: -20px;
	left: 0;
	background-color: #142E3F;
	overflow-x: hidden;
    padding-top: 20px;
    margin-top: 80px;
  }
  
  .sidenav a {
	padding: 6px 8px 20px 80px;
	text-decoration: none;
	font-size: 16px;
	color: #C4C4C4;
	display: block;
  }
  
  .sidenav a:hover {
    color:white;
	font-weight: bold;
  }


.profile{
	text-align: left;
	color: white;
	padding: 20px;
}

/* main */

.txt{
	text-align: center;
	color: #11212E;
	padding-left: 20px;
	padding-top: 100px;
}

.d-flex{
	display: flex;
    justify-content: space-between;
}

.detailprof{
	display: flex;
	justify-content: space-between;
}

.detailprof img{
	position: absolute;
	border-radius: 100px;
	border: 5px solid;
	width: 130px;
	height: 124px;
	left: 1170px;
	margin-top: -50px;
}

.detailprof h4{
	position: absolute;
	margin-left: -400px;

}

.tabel{
	padding-top: 90px;
}
